*{
    margin: 0;
    padding: 0;
}
.menu{
    z-index: 1;
    display: inline-block;
    position: relative;
    width: 150px;
    height: 900px;
    background-color: #05224d;
    border: 1px solid #05224d;
    text-align: center;
    /*line-height: 20%;*/
    line-height: 50px;
}
.menuTable a{
    font-size: 0.95rem;
    color: white;
    text-decoration: none;
    display: block;
    /*border: solid 1px #666666;*/
}
.menuTable td{
    border: 1px solid #666666;
}
.menuTable{
    border: 1px solid #666666;
    border-collapse: collapse;
    position: absolute;
    width: 100px;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
.moreManageBox{
    position: relative;
}
.navigation{
    display: none;
    position: absolute;
    width: 100px;
    background-color: #05224d;
    right: -100px;
    top: 0px;
}
.moreManageBox:hover .navigation{
    display: block;
}
.navigation a:hover{
    background-color: #6389ff;
}
.allFrame{
    width: calc(100% - 152px);
    position: absolute;
    left: 152px;
}
.topTip{
    display: inline-block;
    left: 200px;
    width: 70%;
    height: 35px;
    background-color: #000027;
    color: white;
    line-height: 35px;
    position: absolute;
    top: 0;
    /*left: 200px;*/

}
#addBanner{
    width: 150px;
    height: 45px;
    background-color: #1988cb;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 200px;
}
.bannerTable{
    position: absolute;
    width: 80%;
    left: 200px;
    top: 120px;
}
#bannerTable{

}
#bannerTable td{
    text-align: center;
    vertical-align: middle;
}
#bannerTable img{
    width: 200px;
    object-fit: cover;
}
/*.bannerTable th{*/
/*border: 1px solid #666666;*/
/*background-color: #200f30;*/
/*color: white;*/
/*!*height: 20px;*!*/
/*line-height: 40px;*/
/*}*/
/*.bannerTable td{*/
/*border: 1px solid #666666;*/
/*text-align: center;*/
/*}*/
/*.bannerTable img{*/
/*width: 50%;*/
/*object-fit: contain;*/
/*}*/
.addBannerBox{
    display: none;
    padding-left: 50px;
    position: absolute;
    top: 50px;
    left: 200px;
    width: 80%;
    height: 1000px;
    background-color: white;
}
.inputBox input{
    margin-left: 10px;
}
#sortInputBox{
    /*display: none;*/
    position: absolute;
    top: 100px;
}
#uploadBnt{
    position: absolute;
    top: 150px;
    background-color: rgba(22,155,213,0.6);
    outline: none;
    border: none;
    height: 35px;
}
.cropperBox{
    width: 500px;
    height: 300px;
    /*overflow: auto;*/
}
.cropperBox img{
    width: 100%;
    height: 300px;
    /*object-fit: cover;*/
    /*height: 100%;*/
}
.cutBox{
    display: none;
    background-color: #f2f2f2;
    width: 60%;
    height: 1000px;
    position: absolute;
    top: 50px;
    left: 200px;
}
.cutTitleBox{
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: #a7a7a7;
}
.cutTitleBox img{
    position: absolute;
    width: 15px;
    object-fit: cover;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.cropperBox{
    width: 70%;
    background-color: #38b16d;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
}
.bottomComponent{
    position: absolute;
    top: 400px;
    width: 70%;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
}
.bottomComponent p{
    /*background-color: #1988cb;*/
    height: 20px;
}
.bottomComponent img{
    width: 250px;
    height: 150px;
}
.bottomComponent button{
    width: 95px;
    margin-left: 20px;
}
#sureBnt{
    color: white;
}
#endPic{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 200px;
    display: none;
}
.cancelSubmitBntBox{
    position: absolute;
    top: 500px;
}
.headerPic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.addCategory{
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    width: 80%;
    background-color: white;
    height: 1000px;
}
.addTop{
    width: 70%;
    height: 35px;
    background-color: #000027;
    color: white;
    line-height: 35px;
    margin-bottom:50px;
}
.addCategory table{
    text-align: center;
    border-collapse:separate;
    border-spacing:10px 20px;
}
.addCategory input{
    width: 350px;
}
.addCategory select{
    width: 350px;
}
.editGoods{
    position: absolute;
    left: 50px;
    top: 0;
    width: 70%;
    background-color: white;
    height: 1000px;
}
.addGoodsImg{
    width: 300px;
    object-fit: cover;
}
.editGoods table{
    text-align: center;
    border-collapse:separate;
    border-spacing:10px 20px;
}
.editGoods input{
    width: 350px;
}
.editGoods select{
    width: 350px;
}