<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .right-info{
            position: absolute;
            top: 50px;
            left: 200px;
            /*width: 70%;*/
        }
        .container{
            padding: 0;
            width: 100%;
            position: absolute;
            left: 0;
        }
        .table{
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../public/css/bannerManage.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="menu">
    <table class="menuTable">
        <tr>
            <td>
                <a href="/banner/manage" target="manageContext">轮播图管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="/member/toManage" target="manageContext">用户管理</a>
            </td>

        </tr>

        <tr class="moreManage">
            <td>
                <div class="moreManageBox">
                    <a href="bannerManage.html"  target="manageContext">商品管理+</a>
                    <div class="navigation">
                        <a href="/category/manage">品类管理</a>
                        <a href="/goods/manage">商品管理</a>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">订单管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">配送费管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">系统消息</a>
            </td>

        </tr>

        <tr class="moreManage">
            <td>
                <div class="moreManageBox">
                    <a href="bannerManage.html" target="manageContext">系统管理+</a>
                    <div class="navigation">
                        <a>角色管理</a>
                        <a>权限管理</a>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
<div class="topTip">品类列表</div>
<div class="right-info">
        <button class="btn btn-info" onclick="displayAdd()">+新增品类</button>
    <form id="queryForm" style="display: inline-block">
        <select style="margin-left: 20px" id="selectMethod" name="selectMethod">
            <option value="phone">品类名称</option>
        </select>
        <input id="selectContext" name="phone" type="text"/>
        <select style="margin-left: 20px" id="selectState" name="selectMethod">
            <option value="phone">请选择状态</option>
            <option value="phone">已上架</option>
            <option value="phone">未上架</option>
        </select>
        <!--查询用户-->
        <button id="selectMember" class="btn btn-info" type="submit">查询</button>
    </form>
    <!--用户列表-->
    <div class="container" >
        <div class="row">
            <div class="col-md-9">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th style="background-color: #000027;color: white">排序</th>
                        <th style="background-color: #000027;color: white">品类名称</th>
                        <th style="background-color: #000027;color: white">状态</th>
                        <th style="background-color: #000027;color: white">新增时间</th>
                        <th style="background-color: #000027;color: white">操作</th>
                    </tr>
                    <tr th:each="category:${categoryList}">
                        <td th:text="${category.getSort()}"></td>
                        <td th:text="${category.getC_name()}">12221222</td>
                        <td th:text="${category.getC_state()}">12221222</td>
                        <td th:text="${category.getC_add_time()}">12221222</td>
                        <td th:if="${category.getC_state()} == 0">
                            <a>上架</a>
                            <a>删除</a>
                            <a>编辑</a>
                        </td>
                        <td th:if="${category.getC_state()} == 1">
                            <a>下架</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="addCategory">
    <div class="addTop">新增品类</div>
    <form method="post" action="/category/add">
        <table>
            <tr>
                <td>
                    ＊排序：
                </td>
                <td>
                    <input name="sort" type="number"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    *品类名称：
                </td>
                <td>
                    <input name="c_name" type="text"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    *品类描述：
                </td>
                <td>
                    <input name="c_descripe" type="text"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-info" style="width: 100px;margin-right: 10px">保存</button>
                    <button type="reset" class="btn btn-info" style="border: 1px;width: 100px;" onclick="closeAdd()">返回</button>
                </td>
            </tr>
        </table>
        <!--默认未上架-->
        <input type="hidden" name="c_state" value="0">
    </form>
</div>


</body>
</html>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var selectMember = document.getElementById('selectMember');
    var selectContext = document.getElementById('selectContext');
    var selectMethod = document.getElementById('selectMethod');
    var addCategory = document.getElementsByClassName('addCategory')[0];
    selectMember.onclick = function () {
        var contextValue = selectContext.value;
        var method = selectMethod.value;
        //根据input选择查询方式
        if (method == "phone") {
            $.ajax({
                url:"/member/selectMemberByPhone",
                type:"get",
                data: {"phone":contextValue},
                success:function (data) {
                    alert("success!");
                }
            });
        }
    }
    function closeAdd() {
        addCategory.style.display = "none";
    }
    function displayAdd() {
        addCategory.style.display = "block";
    }
</script>