<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .right-info{
            position: absolute;
            top: 50px;
            left: 200px;
            /*width: 70%;*/
        }
        .container{
            padding: 0;
            width: 100%;
            position: absolute;
            left: 0;
        }
        .table{
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../public/css/bannerManage.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="menu">
    <table class="menuTable">
        <tr>
            <td>
                <a href="/banner/manage" target="manageContext">轮播图管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="/member/toManage" target="manageContext">用户管理</a>
            </td>

        </tr>

        <tr class="moreManage">
            <td>
                <div class="moreManageBox">
                    <a href="bannerManage.html"  target="manageContext">商品管理+</a>
                    <div class="navigation">
                        <a href="/category/manage">品类管理</a>
                        <a href="/goods/manage">商品管理</a>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">订单管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">配送费管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">系统消息</a>
            </td>

        </tr>

        <tr class="moreManage">
            <td>
                <div class="moreManageBox">
                    <a href="bannerManage.html" target="manageContext">系统管理+</a>
                    <div class="navigation">
                        <a>角色管理</a>
                        <a>权限管理</a>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
<div class="topTip">商品列表</div>
<div class="right-info">
    <button class="btn btn-info" onclick="displayAdd()">+新增商品</button>
    <form id="queryForm" style="display: inline-block">
        <select style="margin-left: 20px" id="selectMethod" name="categoryId">
            <option th:each="category:${categoryList}" th:value="${category.getId()}" th:text="${categoryMap.get(category.getId()).getC_name()}"></option>
        </select>
        <input id="selectContext" name="goodsName" type="text"/>
        <select style="margin-left: 20px" id="selectState" name="isPut">
            <option value="">请选择状态</option>
            <option value="1">已上架</option>
            <option value="0">未上架</option>
        </select>
        <!--查询用户-->
        <button id="selectGoods" class="btn btn-info" type="submit">查询</button>
    </form>
    <!--用户列表-->
    <div class="container" >
        <div class="row">
            <div class="col-md-9">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th style="background-color: #000027;color: white">排序</th>
                        <th style="background-color: #000027;color: white">品类名称</th>
                        <th style="background-color: #000027;color: white">商品名称</th>
                        <th style="background-color: #000027;color: white">库存量</th>
                        <th style="background-color: #000027;color: white">单价</th>
                        <th style="background-color: #000027;color: white">上／下架状态</th>
                        <th style="background-color: #000027;color: white">新增时间</th>
                        <th style="background-color: #000027;color: white">操作</th>
                    </tr>
                    <tr th:each="goods:${goodsList}">
                        <td th:text="${goods.getG_sort()}"></td>
                        <td th:text="${categoryMap.get(goods.getCategory_id()).getC_name()}">12221222</td>
                        <td th:text="${goods.getGoods_name()}">12221222</td>
                        <td th:text="${goods.getStock_num()}">12221222</td>
                        <td th:text="${goods.getGoods_price()}+'/'+${goods.getGoods_unit()}"></td>
                        <td th:text="${goods.getG_state()}"></td>
                        <td th:text="${goods.getG_add_time()}"></td>
                        <td th:if="${goods.getG_state()} == 0">
                            <a>上架</a>
                            <a>删除</a>
                            <a th:href="@{'/goods/toEdit?id='+${goods.getId()}}">编辑</a>
                        </td>
                        <td th:if="${goods.getG_state()} == 1">
                            <a>下架</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--分页代码暂时不写-->
        <!--<div class="row">-->
            <!--<div class=".col-md-12 col-md-offset-8">-->
                <!--<nav aria-label="Page navigation">-->
                    <!--<ul class="pagination">-->
                        <!--<li><a href="/goods/findGoodsByLikeQueryPage?pn=1">首页</a></li>-->

                        <!--<li th:if="${pageInfo.hasPreviousPage}">-->
                            <!--<a th:href="@{'/goods/findGoodsByLikeQueryPage?pn='+${pageInfo.pageNum-1}}">-->
                                <!--<span aria-hidden="true">&laquo;</span>-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li th:each="page_num:${pageInfo.pageNum}" th:class="${ pageInfo.pageNum == page_num}?'active':' '">-->
                            <!--<a href="#" th:text="${page_num}"></a>-->
                        <!--</li>-->

                        <!--&lt;!&ndash;<c:if test="${pageInfo.pages != pageInfo.pageNum}">&ndash;&gt;-->
                        <!--<li th:if="${pageInfo.hasNextPage}">-->
                            <!--<a th:href="@{'/goods/findGoodsByLikeQueryPage?pn='+${pageInfo.pageNum+1}+''}" aria-label="Next">-->
                                <!--<span aria-hidden="true">&raquo;</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;</c:if>&ndash;&gt;-->
                        <!--<li><a th:href="@{'/goods/findGoodsByLikeQueryPage?pn='+${pageInfo.pages}}">尾页</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div class="addCategory">
    <div class="addTop">新增商品</div>

        <table>
            <form method="post" id="addCategoryForm" action="/goods/add">
            <tr>
                <td>
                    ＊商品图片：
                </td>
                <td>
                    <input name="goods_img" type="file" id="addGoodsImgInput" style="display: none">
                    <img onclick="selectPic()" class="addGoodsImg" src="../../public/img/demo1.jpg">
                </td>
            </tr>
            <tr>
                <td>
                   *排序
                </td>
                <td>
                    <input name="g_sort" type="number"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    *所属品类：
                </td>
                <td>
                    <select name="category_id">
                        <option th:each="category:${categoryList}" th:value="${category.getId()}" th:text="${categoryMap.get(category.getId()).getC_name()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    *商品名称：
                </td>
                <td>
                    <input name="goods_name" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    *商品单价：
                </td>
                <td>
                    <input name="goods_price" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    直降金额：
                </td>
                <td>
                    <input name="goods_reduce" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    *最低销售重量：
                </td>
                <td>
                    <input name="min_sale_weight" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    *库存：
                </td>
                <td>
                    <input name="stock_num" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    *商品描述：
                </td>
                <td>
                    <input name="detail" type="text"/>
                </td>
            </tr>
            <!--默认未上架-->
            <input type="hidden" name="g_state" value="0">
            <input type="hidden" name="goods_unit" value="kg">
         </form>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="submitBnt" class="btn btn-info" style="width: 100px;margin-right: 10px">保存</button>
                    <button type="reset" class="btn btn-info" style="border: 1px;width: 100px;" onclick="closeAdd()">返回</button>
                </td>
            </tr>
        </table>

</div>


</body>
</html>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var submitBnt = document.getElementById('submitBnt');
    var selectGoods = document.getElementById('selectGoods');
    var selectContext = document.getElementById('selectContext');
    var selectMethod = document.getElementById('selectMethod');
    var addCategory = document.getElementsByClassName('addCategory')[0];
    var selectStateInput = document.getElementById('selectState');
    var queryForm = document.getElementById('queryForm');
    var addCategoryForm = document.getElementById('addCategoryForm');
    submitBnt.onclick = function(){
        addCategoryForm.submit();
    };
    selectGoods.onclick = function () {
        var state = selectStateInput.value;
        var goodsName= selectContext.value;
        var method = selectMethod.value;
        if((method == null || method == "") || (state == "" || state == null)){
            alert("请选择分类和是否上架！");
            return;
        }else {
            queryForm.setAttribute("action","/goods/findGoodsByLikeQuery");
            queryForm.submit();
        //根据input选择查询方式
        // if (method == "phone") {
        //     queryForm.setAttribute("action","/goods/findGoodsByLikeQuery");
        //     queryForm.submit();
            // $.ajax({
            //     url:"/goods/findGoodsByLikeQuery",
            //     type:"get",
            //     data: {"goodsName":goodsName,"isPutaway":method,"categoryId":categoryId},
            //     success:function (data) {
            //         alert("success!");
            //     }
            // });
        }
    };
    function closeAdd() {
        addCategory.style.display = "none";
    }
    function displayAdd() {
        addCategory.style.display = "block";
    }
    var addGoodsImgInput = document.getElementById('addGoodsImgInput');
    var addGoodsImg = document.getElementsByClassName('addGoodsImg')[0];
    function selectPic() {
        console.log(1);
        addGoodsImgInput.click();
    }
    addGoodsImgInput.onchange = function () {
        var imageFile = addGoodsImgInput.files[0];
        var read = new FileReader();
        read.readAsDataURL(imageFile);
        read.onload = function (e) {
            addGoodsImg.setAttribute("src",read.result);
        }
    }
</script>