<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="../banner/manage" target="manageContext">轮播图管理</a>
<a href="../member/manage" target="manageContext">用户管理</a>
<a href="../goods/manage" target="manageContext">商品管理</a>
<a href="../order/manage" target="manageContext">订单管理</a>
<a href="../transport/cost/manage" target="manageContext">配送费管理</a>
<a href="../system/message/all" target="manageContext">系统消息</a>
<a href="../system/message/manage" target="manageContext">系统管理</a>
<iframe href="../banner/manage" name="manageContext"></iframe>
</body>
</html>