<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .cropperBox{
            width: 500px;
            height: 300px;
        }
        .cropperBox img{
            width: 100%;
            object-fit: cover;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.5/cropper.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../public/css/bannerManage.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--<img src="../../public/img/demo1.jpg"/>-->
<div class="menu">
    <table class="menuTable">
        <tr>
            <td>
                <a href="/banner/manage" target="manageContext">轮播图管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="/member/toManage" target="manageContext">用户管理</a>
            </td>

        </tr>

        <tr class="moreManage">
            <td>
                <a href="bannerManage.html"  target="manageContext">商品管理+</a>
                <div class="navigation">
                    <a>品类管理</a>
                    <a>商品管理</a>
                </div>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">订单管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">配送费管理</a>
            </td>

        </tr>

        <tr>
            <td>
                <a href="bannerManage.html" target="manageContext">系统消息</a>
            </td>

        </tr>

        <tr class="moreManage">
            <td>
                <a href="bannerManage.html" target="manageContext">系统管理+</a>
                <div class="navigation">
                    <a>角色管理</a>
                    <a>权限管理</a>
                </div>
            </td>

        </tr>

    </table>
</div>
<div class="topTip">轮播图表</div>
<button id="addBanner">+新增轮播图</button>
<div class="container bannerTable" >
    <div class="row">
        <div class="col-md-12">
            <table id="bannerTable" class="table-bordered table table-hover">
                <tr>
                    <th style="background-color: #000027;color: white">序号</th>
                    <th style="background-color: #000027;color: white">轮播图片</th>
                    <th style="background-color: #000027;color: white">排序</th>
                    <th style="background-color: #000027;color: white">新增日期</th>
                    <th style="background-color: #000027;color: white">操作</th>
                </tr>
                    <tr th:each="emp:${pageInfo.list}">
                        <td th:text="${emp.id}"></td>
                        <td>
                            <img class="prePic" th:src="${emp.cover_img}">
                        </td>
                        <td th:text="${emp.sort}"></td>
                        <td th:text="${emp.add_time}"></td>
                        <td>
                            <!--角色只有一个-->
                            <button th:onclick="'checkPermission('+${user.getRole_id()}+')'" class="btn btn-info  btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                修改
                            </button>
                            <button th:onclick="'checkPermission('+${user.getRole_id()}+')'" class="btn btn-danger  btn-sm">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                删除
                            </button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class=".col-md-12 col-md-offset-8">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li><a href="/banner/manage?pn=1">首页</a></li>

                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="@{'/banner/manage?pn='+${pageInfo.pageNum-1}}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                            <li th:each="page_num:${pageInfo.pageNum}" th:class="${ pageInfo.pageNum == page_num}?'active':' '">
                                <a href="#" th:text="${page_num}"></a>
                            </li>

                    <!--<c:if test="${pageInfo.pages != pageInfo.pageNum}">-->
                        <li th:if="${pageInfo.hasNextPage}">
                            <a th:href="@{'/banner/manage?pn='+${pageInfo.pageNum+1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    <!--</c:if>-->
                    <li><a th:href="@{'/banner/manage?pn='+${pageInfo.pages}}">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--上传图片div-->
<div class="addBannerBox">
    <div class="inputBox">
        *类型:
        <input id="goods_name" type="radio" name="goodsOrActive" value="goods_name"> *商品名称
        <input id="ad" type="radio" name="goodsOrActive" value="ad"> *活动/广告
    </div>
    <div id="sortInputBox">
        排序：<input id="sortInput" type="number">
    </div>
    <input id="uploadBnt" type="button" value="上传图片并剪裁" onclick="toCutPic">
</div>
<div class="cutBox">
    <div class="cutTitleBox">
        <p>图片剪裁</p>
        <img src="/public/imgs/close.png">
    </div>
    <div class="cropperBox">
        <img id="image" src="/public/img/demo1.jpg">
    </div>
    <p>预览框</p>
    <div>
        <img id="preView" src="">
        <input type="file" id="fileInput" style="display: none">
        <button onclick="openFile()">上传图片</button>
        <button id="sureBnt" style="background-color: gray">确定</button>
    </div>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.5/cropper.min.js"></script>
<script>
    var fileInput = document.getElementById('fileInput');
    var image = document.getElementById('image');
    var preView = document.getElementById('preView');
    var sureBnt = document.getElementById('sureBnt');
    var goods_nameInput = document.getElementById('goods_name');
    var adInput = document.getElementById('ad');
    var sortinputBox = document.getElementById('sortInputBox');
    var cropper = null;
    var res;
    var resUrl = null;
    goods_nameInput.onchange = function (e) {
        console.log("input");
        if (goods_nameInput.checked == true){
            console.log("input");
            sortinputBox.style.display = "block";
        }else {
            sortinputBox.style.display = "none";
        }
    };
    adInput.onchange = function (e) {
        if (adInput.checked == true){
            sortinputBox.style.display = "none";
        } else{
            sortinputBox.style.display = "block";
        }
    };
    function openFile() {
        fileInput.click();
    }
    fileInput.onchange = function (ev) {
        var file = fileInput.files[0];
        var read = new FileReader();
        read.readAsDataURL(file);
        read.onload = function (e) {
            sureBnt.style.backgroundColor = "blue";
            image.setAttribute("src",read.result);
            cropper = new Cropper(image,{
                aspectRatio: 16 / 9,
                viewMode:3,
                crop:function (event) {
                    res = cropper.getCroppedCanvas();
                    resUrl = res.toDataURL("image/png");
                    preView.setAttribute("src",resUrl);
                }
            });
        }
    };
    sureBnt.onclick = function () {
        if (resUrl != null){
            alert("还没有选择文件");
        } else {
            console.log("ajax");
            $.ajax({
                url:"/banner/upload",
                data:{"pic":resUrl},
                type:"post",
                traditional: true,
                success:function (data) {
                    if (data != 0){
                        alert("上传成功！");
                    }
                }
            });
        }
    };
    function checkPermission(operation) {
        $.ajax({
            url:"/banner/permissionCheck",
            data:{operation:operation},
            type:"GET",
            success:function (data) {
                if (data == false)
                {
                    alert("你无权修改此信息");
                }else {
                    alert("修改成功");
                }
            }
        });
    }
</script>