<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../public/css/login.css"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div id="backgroundImg">
    <div id="loginBox">
        <p>登陆</p>
            <div class="text">
                <img src="../../public/img/suo%20(2).png"/>
                <input type="text" id="account" name="account"/>
            </div>
            <div class="text">
                <img src="../../public/img/suo%20(1).png"/>
                <input type="text" id="password" name="password"/>
            </div>
            <button type="button" th:onclick="'loginVerify()'">登陆</button>
    </div>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    var account = document.getElementById('account');
    var password = document.getElementById('password');

    function loginVerify() {
        var adminObject = {
            account:account.value,
            password:password.value
        };
        var admin = JSON.stringify(adminObject);
        $.ajax({
            url:"/admin/verify",
            type:"post",
            data:admin,
            contentType:'application/json',
            dataType:'json',
            success: function (data) {
                if (data.bool == false)
                {
                    alert(data.msg);
                }else {
                    alert(data.msg);
                    // console.log();
                    window.location.href = "/admin/index?id="+data.object.id+"&password="+data.object.password;
                }
            }
        });
    }
</script>