<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/addressList.css" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="addressBox">
        <span class="memberName">1231</span>
        <span class="memberPhone">54646456</span>
        <span class="memberAddress">1231313113131</span>
        <hr>
        <input name="selectAddress" type="radio"/>
        <span></span>
    </div>
</body>
</html>