<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../../public/css/cart_css.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
</head>
<body>
	<div id="topDiv">
		<div id="allSelected">
		 <input id="dad" class="check" onchange="selectAll()" type="checkbox"/>
		</div>
		 <span>全选</span>

		 <div th:id="${i.getKey().getId()}" class="goodsDiv" th:each="i:${shoppingCartGoodsMap}">
				<span class="selectSpan">
					<input class="check" onclick="countSum()" type="checkbox"/>
				</span>
				<img class="goodsImage" th:src="${i.getValue().getGoods_img()}"/>
				<div class="describe">
					<span class="goodsName" th:text="${i.getValue().getGoods_name()}">优质苜蓿草</span>
					<span class="goodsPrice" th:text="'￥'+${i.getValue().getGoods_price()-i.getValue().getGoods_reduce()}+'元／'+${i.getValue().getGoods_unit()}">18.00</span>
					<span class="goodsNumber" th:text="'*'+${i.getKey().getGoods_num()}">*1</span>
					<span class="lineAndPrice">
						<img class="line-image" src="../../public/img/u1558.png"/>
						<span class="oldPrice" th:text="'￥'+${i.getValue().getGoods_price()}+'元／'+${i.getValue().getGoods_unit()}">asdasda</span>
					</span>
				</div>
				<img class="deleteImage" src="../../public/imgs/addressDelete.png"/>
		 </div>
		<p style="text-align: center">没有更多了</p>
	</div>
	 <div class="foot">
		<div class="total" >
			合计：Y0.00（共0件）
		</div>
		<div class="settle">结算(0)</div>
	 </div>
</body>
</html>
<script src="../../public/js/cartList.js"></script>