<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../public/css/cart_css.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
</head>
<body>
	<div id="allSelected">
	 <input type="radio"/>
	</div>
	 <span>全选</span>

	 <div class="goodsDiv">
			<span class="selectSpan">
				<input type="radio"/>
			</span>
			<img class="goodsImage" src="../public/img/demo3.jpg"/>
			<div class="describe">
				<span class="goodsName">优质苜蓿草</span>
				<span>18.00</span>
				<span>*1</span>
				<span>
					<img class="line-image" src="../public/img/u1558.png"/>
					<span>asdasda</span>
				</span>
			</div>
			<img class="deleteImage" src="../public/img/wddd.png"/>
	 </div>
	 <div class="foot">
		<div class="total">
			合计：Y0.00（共0件）
		</div>
		<div class="settle">结算(0)</div>
	 </div>
</body>
</html>