<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>

    <form action="/home" method="post">
        <input placeholder="请输入" name="phone"/>
        <input placeholder="请输入" name="header_img"/>
        <input type="submit"/>
    </form>

</body>
</html>

<script>

</script>