<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../public/css/Pcenter.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
</head>
<body>
<div class="up"><img class="headpic" src="../public/img/touxiang.jpg"/>
<div class="phone">152399727761</div>
</div>
<ul>
	<a href="http://baidu.com"><li><img class="bq" src="../public/img/wddd.png"/><p>我的订单</p><span>></span></li></a>
	<a href="http://baidu.com"><li><img class="bq" src="../public/img/sd.png"/><p>收货地址</p><span>></span></li></a>
	<a href="http://baidu.com"><li><img class="bq" src="../public/img/xx.png"/><p>交易明细</p><span>></span></li></a>
	<a href="http://baidu.com"><li><img src="../public/img/jsc.png" class="bq"/><p>关于我们</p><span>></span></li></a>
</ul>
</body>
</html>