<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../public/css/shop_ccs.css"/>
	<title>全部品种</title>
</head>
<body>
<div th:each="i:${goodsList}">
	<p class="Title" th:text="${categoryMap.get(i.getCategory_id()).getC_name()}"></p>
	<p class="describe" th:text="${categoryMap.get(i.getCategory_id()).getC_descripe()}"></p>
	<a target="_top" th:href="'/goods/details?id='+${i.getId()}"><img th:src="${i.getGoods_img()}"/></a><br/>
	<p class="shopName" th:text="${i.getGoods_name()}"></p><br/>
	￥<p class="price" th:text="${i.getGoods_price()-i.getGoods_reduce()}"></p>
	/<p th:text="${i.getGoods_unit()}"></p>
	</div>
</body>
</html>